@charset "utf-8";

h1{
    font-size: 35px;
}
header{
    background:#3C4767;
}

#head h1{
    padding: 0 0 0 5%;
}
#head h2 img{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
}

#row{
    display: flex;
}
#container{
    width: 75%;
}

#side-bar{
    border-left: 1px solid #6C6C6C;
    width: 25%;
    text-align: right;
}

#confirm{
    margin: 20px;
}

#confirm p{
    padding: 10px;
}

#confirm .left-title{
    text-align: left;
}

#side-bar .btn{
    padding: 10px;
    background-color: #3C4767;
    text-decoration: none;
    cursor: pointer;
}

#side-bar .btn a{
    color: #FFF;
}

#search-btn{
    text-align: center;
    margin-top: 50px;
}

.accordion-container {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    cursor: pointer
  }

  .accordion-container .accordion-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    margin-bottom: 34px;

  }

  .accordion-container .accordion-title:hover,
  .accordion-container .accordion-title:active,
  .accordion-container .content-entry.open .accordion-title {
    color: white;
  }

  .accordion-container .accordion-title:hover i:before,
  .accordion-container .accordion-title:hover i:active,
  .accordion-container .content-entry.open i {
    color: white;
  }

  .accordion-title{
    position: relative;
  }

  .accordion-title:after {
    content: "";
    position: absolute;
    right: 30%;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }

  .accordion-content {
    display: none;
    padding-left: 2.3125em;
  }

  .accordion-content ul {
    margin: 0;
    padding: 0;
    background :#FFFF;
}

  .accordion-content li :hover{
    background: #ca4e37;
    color: #FFFF;
}

.accordion-content a {
    display: block;
    padding: 18.5px;
    text-decoration: none;
    text-align: center;
    color: #6C6C6C;
    border-bottom: solid 1px #6C6C6C;
    border-left: solid 1px #6C6C6C;
}

  .accordion-container {
    width: 300px;
    margin: 1.875em auto;
  }

.user_post{
    display: flex;
    margin: 20px;
}

.user_post img{
    height: 55px;
    width: 55px;
}

.post-button{
    background-color: #FFFF;
    border: 0px;
    padding: 0%;
}

.post-button img{
    height: 35px;
    width: 35px;
}

.form-control{
    box-shadow: none;
    border-radius: 0%;
    border: 0px;
    height: 55px;
    width: 500px;
}

.line{
    position:relative;
    z-index: -1;
 }

 .line::after{
    content:"";
    display:block;
    width:100%;
    height:5px;
    background-color:#d7d7d7;
    position:absolute;
    bottom:0;
 }

.timeline_table{
    width: 100%;
}

.timeline_table tr{
    height: 100px;
    border-bottom:1px solid #d7d7d7;
}

.timeline_table td.username,.timeline_table td.created_at{
    font-size: 12px;
}

.timeline_table td.img{
    padding-left: 5%;
}


.timeline_table td.username,.timeline_table td.post{
    display: block;
    padding-left: 5%;
}

.timeline_table td.username{
    padding-top: 15px;
}

.timeline_table td.post{
    padding-top: 10px;
}


.btn{
    padding: 0%;
}

.btn-success{
    background-color: #FFF;
    border-color: #FFF;
}

.btn-success:hover{
    background-color: #FFF;
    border-color: #FFF;
}

.btn-primary{
    padding: 5px 10px 5px 10px;
    background-color: #FFF;
    border-color: #FFF;
}

.btn-primary:hover{
    background-color: #FFF;
    border-color: #FFF;
}

.btn-danger{
    background-color: #FFF;
    border-color: #FFF;
}

.btn-danger:hover{
    background-color: #FFF;
    border-color: #c5c5c5;
}

.modal-open {
    cursor: pointer;
    background-color: #FFFF;
    border: solid 5px #FFF;
    border-radius: 5px;
}

.modal-open:active{
    background-color: #dddddd;
    border: solid 5px #dddddd;
}

.modal-main{
    display: none;
  }

.modal-overlay {
    background: rgba(123,123,123,0.5);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-inner {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    z-index: 2;
}

.inner-content{
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 10%;
    max-width: 1024px;
    background-color: #FFF;
    color: #666666;
    border-radius: 8px;
}

.inner-content .form-control{
    width: 300px;
    height: 150px;
    border:1px solid #6C6C6C;
    border-radius: 5px;
}

.inner-content .send-button{
    margin-left: 10px;
    padding-top: 30%;
    background-color: #FFFF;
    border: none;
}

/* .modal-close{
    cursor: pointer;
    color: #666666;
} */

#search-form form{
    display: flex;
    margin: 30px 100px 30px 60px;
}
#search-form .form-control{
    width: 250px;
    border:1px solid #6C6C6C;
    border-radius: 5px;
}
#search-form .btn-primary{
    margin-left: 10px;
    width: 50px;
}

#user-list{
    margin-top: 50px;
}

.user-table{
    width: 100%;
    margin-left: 50px;
}


.user-table tr{
    height: 15px;
}

.user-table td.image{
    width: 80px;
}

.keyword_username{
    margin: 0px 30px 30px 60px;
}

.UserProfile{
    margin: 5% 25% 0 25%;
}

.UserProfile .btn{
    background-color: #7b9979;
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
}

.UserProfile label{
    font-size: 15px;
    margin: 10px 0px 5px 0px;
}

.UserProfile .form-control{
    box-shadow: none;
    border-radius: 0%;
    border: 0px;
    border-bottom:2px #6C6C6C solid;
    background-color: #f2f2f2;
    height: 45px;
}

.follow_list{
    margin: 30px;
}
.follow_list img{
    padding: 5px;
    border-radius: 50%;
}

.follow_post img{
    border-radius: 50%;
}

.follow_list .btn-primary{
    padding: 0%;
}

.follow_list .btn-primary:hover{
    background-color: #FFF;
    border-color: #FFF;
    text-decoration: none;
}

.follower_list{
    margin: 30px;
}
.follower_list img{
    padding: 5px;
    border-radius: 50%;
}

.follower_post img{
    border-radius: 50%;
}

.follower_list .btn-primary{
    padding: 0%;
}

.follower_list .btn-primary:hover{
    background-color: #FFF;
    border-color: #FFF;
    text-decoration: none;
}

.personal-profile{
    display: flex;
    margin:50px 50px 50px 50px;
}

.profile-box{
    display: block;
    margin-left: 30px;
}
.profile-box p{
    padding: 10px;
}

.profile-box p.title{
    font-size: 12px;
}


.personal-profile img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
.personal-profile .btn-primary{
    position: absolute;
    right: 30%;
    top:30%
}

.personal-post img{
    border-radius: 50%;
}

.error{
    margin-top: 5px;
    font-size: 12px;
    color: #ca4e37;
}